/* 基本樣式設定 */
html,
body,
.app {
  width: calc(100vw - 25px);
  min-height: calc(100vh - 20px);
  color: #354472;
  background: #141b2d;
  user-select: none;
}
/* 置中app */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 捲軸樣式設定 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #8d98cb;
  border-radius: 8px;
}
